[Unit]
Description=Tetra3 Plate Solve Server
After=basic.target

[Service]
Type=idle
User=dustin
WorkingDirectory=/home/dustin
Environment=RUST_BACKTRACE=1
ExecStart=/home/dustin/tetra-solve-rs/target/release/tetra3-solve-server --database /home/dustin/tetra-solve-rs/cedar-solver/data/default_database.npz --port 50052

[Install]
WantedBy=basic.target
